<section id="projet" class="section project" aria-labelledby="project-title">
  <div class="container">
    <div class="row gx-lg-5 gy-5">
      <div class="col-lg-5">
        <h2 id="project-title" class="section-title">{{ 'project.title' | t }}</h2>
        <p class="project-aim">
          {{ 'project.aim' | t }}
        </p>
        <p class="measure">
          {{ 'project.desc' | t }}
        </p>
      </div>

      <div class="col-lg-7">
        <h3 class="sub-title">{{ 'project.offersTitle' | t }}</h3>
        <dl class="offers">
          @for (offer of offers; track offer.titleKey) {
            <div class="offer">
              <dt>{{ offer.titleKey | t }}</dt>
              <dd>{{ offer.textKey | t }}</dd>
            </div>
          }
        </dl>
      </div>
    </div>

    <h3 class="sub-title steps-title">{{ 'project.stepsTitle' | t }}</h3>
    <ol class="steps row gy-4">
      @for (step of steps; track step.titleKey; let i = $index) {
        <li class="col-sm-6 col-lg-3">
          <span class="step-number" aria-hidden="true">{{ i + 1 }}</span>
          <p class="step-title">{{ step.titleKey | t }}</p>
          <p class="step-text">{{ step.textKey | t }}</p>
        </li>
      }
    </ol>
  </div>
</section>
